.card__like-button {
  width: 30px;
  background: transparent url('../../../resources/images/like.svg') center no-repeat;
  margin-left: auto;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.6;
}