.page__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 282px;
  max-width: 880px;
  min-height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .page__container {
    width: 581px;
  }
}

@media screen and (max-width: 640px) {
  .page__container {
    width: 100%;
  }
}